@using WebApplication12.Models
@model FormSubmitViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormDemo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h3>Address entered: @Model.Address</h3>
        <h3>Phone entered: @Model.Phone</h3>
    </div>
</body>
</html>
